<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Volunteer Scheduler{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="{% block body_class %}{% endblock %}">
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer class="site-footer">
    project at <a href="https://github.com/silasray/volunteerotron">https://github.com/silasray/volunteerotron</a><br>
    be kind, I wrote this in 1 night
  </footer>
  {% block scripts %}{% endblock %}
</body>
</html>
